<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/headTag.ejs') %>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <%- include('../../partials/sidebar.ejs') %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <%- include('../../partials/topbar.ejs') %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <%- include('../../partials/flashMessage.ejs') %>
            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800">Bank</h1>

            <%- include('tables.ejs') %>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <%- include('../../partials/footer.ejs') %>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <%- include('../../partials/modal.ejs') %> <%-
    include('../../partials/script.ejs') %> <%- include('./addModal.ejs') %> <%-
    include('./editModal.ejs') %>

    <script>
      $("#dataTable").on("click", ".btn-update", function () {
        const id = $(this).data("id");
        const bankName = $(this).data("bankname");
        const accountNumber = $(this).data("accountnumber");
        const accountHolder = $(this).data("accountholder");
        $("#editBankModal").modal("show");
        $("#id-bank").val(id);
        $("#edit-bank-name").val(bankName);
        $("#edit-account-number").val(accountNumber);
        $("#edit-account-holder").val(accountHolder);
      });

      // show and set modal update Bank
      // const btnUpdate = document.getElementsByClassName("btn-update")[0];
      // const dataTableElem = document.getElementById("dataTable");

      // dataTableElem.addEventListener("click", function (event) {
      //   const targetElem = event.target;
      //   if (
      //     targetElem.classList.contains("btn-update") ||
      //     targetElem.classList.contains("fa-edit")
      //   ) {
      //     let dataId = null;
      //     let dataName = null;

      //     if (targetElem.classList.contains("btn-update")) {
      //       dataId = targetElem.dataset.id;
      //       dataName = targetElem.dataset.name;
      //     } else {
      //       dataId = targetElem.parentElement.dataset.id;
      //       dataName = targetElem.parentElement.dataset.name;
      //     }

      //     const inputNameBank = document.getElementById("name-edit");
      //     const inputIdBank = document.getElementById("id-bank");

      //     inputNameBank.value = dataName;
      //     inputIdBank.value = dataId;

      //     $("#editBankModal").modal("show");
      //   }
      // });

      // handle change label name
      const customFileInputElem =
        document.getElementsByClassName("custom-file-input");

      for (const elemen of customFileInputElem) {
        elemen.addEventListener("change", function (e) {
          var fileName = this.files[0].name;
          var nextSibling = e.target.nextElementSibling;
          nextSibling.innerText = fileName;
        });
      }

      // document
      //   .querySelector(".custom-file-input")
      //   .addEventListener("change", function (e) {
      //     var fileName = document.getElementById("add-image-url").files[0].name;
      //     var nextSibling = e.target.nextElementSibling;
      //     nextSibling.innerText = fileName;
      //   });
    </script>
  </body>
</html>
